In [1]:
import pandas as pd
import nltk
import string
import re
import matplotlib.pyplot as plt
import emoji
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')
analyser = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Nutzer\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [2]:
df = pd.read_csv("blacklivesmatter.csv")

In [3]:
def extract_emojis(text):
  return ''.join(c for c in text if c in emoji.UNICODE_EMOJI)

In [4]:
df['Tweet_Emoji'] = df['Tweets'].apply(lambda x: extract_emojis(x))

In [41]:
def sentiment_analyzer_scores(sentence):
    score = analyser.polarity_scores(sentence)
    return score['compound']

In [42]:
df['Sentiment'] = df['Tweets'].apply(lambda x: sentiment_analyzer_scores(x))
df['Sentiment_Emoji'] = df['Tweet_Emoji'].apply(lambda x: sentiment_analyzer_scores(x))

In [43]:
df.head()

,Tweets,User,Location,Follower Count,Following Count,Number of Tweets,Account Created Date,Account Description,Verified,Favourites Count,Date,Subjectivity,Polarity,Tweet_Emoji,Sentiment,Sentiment_Emoji
0,Year 7 pupils Jasmine &amp; Maisie have been s...,UrmstonGrammar,M41 5UG,1988,124,2368,2010-11-15 13:55:42.000000,"Urmston Grammar is a Selective Grammar, an Ind...",False,255,2020-07-09 13:08:47.554713,0.000000,0.000000,,-0.3595,0.0
1,I didn't know who Lewis Howard Latimer was unt...,rapella,"east sussex, england",1301,727,67991,2008-07-24 21:45:36.000000,"web tart, linguist, cuerdas, ux, cyclist, poly...",False,14148,2020-07-09 13:08:47.566739,0.000000,0.000000,üëáüëá,0.0000,0.0
2,My NEW BLOG ‚Äî '3 ways teachers can integrate S...,JorgeDoesPBL,United States,3937,3184,9647,2015-11-07 15:21:38.000000,"Education Coach, Author & Advocate @LifelongLD...",False,17685,2020-07-09 13:08:47.566739,0.727273,0.485227,,0.8745,0.0
3,@minakimes @hbryant42 Jackie Robinson's daught...,nancylevine,"Fairfax, CA",15622,9849,174865,2009-03-28 18:38:06.000000,Author THE TAO OF PUG 4-book series (Penguin/S...,False,193314,2020-07-09 13:08:47.566739,0.541667,0.233333,,0.3818,0.0
4,@realDonaldTrump trump supporters posing as po...,MysticHippy3,"Washington, USA",2823,2761,20764,2013-05-26 00:32:18.000000,üëèThis country needs to be united againüëè. Seeki...,False,20995,2020-07-09 13:08:47.566739,0.000000,0.000000,,0.4404,0.0

In [44]:
df.Tweet_Emoji.value_counts()[:5]

      10549
‚ù§        71
ü§î        61
‚úäüèæ       60
üîä        56
Name: Tweet_Emoji, dtype: int64

In [45]:
sentiment_analyzer_scores('The food is good')

0.4404

In [46]:
sentiment_analyzer_scores('The food is GOOD')

0.5622

In [47]:
sentiment_analyzer_scores('The food is GOOD!')

0.6027

In [48]:
sentiment_analyzer_scores('The food is GOOD!!')

0.639

In [49]:
emoji_df = df[df.Sentiment_Emoji.isna()]

In [50]:
emoji_df.head()

Empty DataFrame
Columns: [Tweets, User, Location, Follower Count, Following Count, Number of Tweets, Account Created Date, Account Description, Verified, Favourites Count, Date, Subjectivity, Polarity, Tweet_Emoji, Sentiment, Sentiment_Emoji]
Index: []

In [54]:
sentiment_analyzer_scores('hi ‚ù§')

0.0