In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("hashtag_tweets.csv")

In [4]:
df.head()

,Tweets,User,Location,Follower Count,Following Count,Number of Tweets,Account Created Date,Account Description,Verified,Favourites Count,Subjectivity,Polarity
0,Every city should do this! Replace cops with m...,rebbyanngray,"Washington, DC",4,33,93,2016-04-26 23:31:26,NaN,False,94,0.400000,0.150000
1,Republican attorneys general group launches ra...,afronola,NOLA,1712,2412,162687,2010-09-07 14:54:37,"From Nola to Nigeria! From Addis, to Lagos, to...",False,1056,0.500000,0.050000
2,with info &amp; the sheer number of police rel...,rahne_jones,"New York, NY",2806,180,1258,2017-03-03 18:50:56,Tomato hater since ‘87 @the_politician Season ...,True,1561,0.536111,0.162500
3,Let's live up to the ideal of America! #BlackL...,herbgreen100,NaN,20,115,1741,2009-03-04 13:20:54,Supporting new STEM teachers and all students....,False,56,0.750000,0.568182
4,@DailyCaller Seems like most cities currently ...,rockymtndew,Arizona,1032,1021,1912,2014-05-24 02:29:51,Supporting Trump and the international awakeni...,False,1774,0.478000,0.137000